:root.theme-light {
  --main-text-color: #353430;
  --accent-color: #353430;
  --accent-title-color: #ff8dcb;
  --title-color: #ffc2e6;
  --main-color: #353430;
  --cover-color: #fff1f7;
  --cover-image: url(../images/cover-image-light.png);
}

.theme-light .header__element::before,
.theme-light .header__element::after {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --accent-color: #353430;
    --accent-title-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-color: #353430;
    --cover-color: #fff1f7;
    --cover-image: url(../images/cover-image-light.png);
  }

  .theme-light .header__element::before,
  .theme-light .header__element::after,
  .theme-auto .header__element::before,
  .theme-auto .header__element::after {
    display: none;
  }

  .theme-light .header__theme-menu-button:hover,
  .theme-auto .header__theme-menu-button:hover {
    outline: 1px solid rgba(53, 52, 48, 0.4);
  }
}
